@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Framework.Contract
@using GMS.Framework.Web.Controls
@using GMS.Crm.Contract
@using GMS.Web
@{

    ViewBag.Title = "业务跟单查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <link rel="stylesheet" type="text/css" href="@Url.StaticFile("/Assets/data-tables/css/dataTables.jqueryui.min.css")" />

    <style type="text/css">
        select {
            margin: 1px;
            width: 150px;
        }

        .error {
            color: red;
            margin-left: 10px;
        }

        .odd {
            background-color: whitesmoke !important;
        }

        .w60 {
            width: 60px;
            word-break: keep-all;
        }

        .customername {
            word-break: keep-all;
            word-wrap: inherit;
        }

        .serchtype {
            display: inline-block;
            margin: 3px;
        }

            .serchtype * {
                word-break: keep-all;
                padding: 4px;
            }

        #lasthead, #lastfoot {
            min-width: 260px;
        }

        th {
            word-break: keep-all;
            word-wrap: inherit;
        }

        td table tbody {
            display: initial;
        }

        td table, td table tr {
            width: 100% !important;
            display: inline-block;
        }

        .controls label {
            display: inline;
        }

        .custom-combobox input {
            height: 28px;
            margin: 1px;
        }

        .custom-combobox a {
            height: 30px;
        }
    </style>
}

@*@functions
    {
    }*@

@section PageSpecificJavascriptIncludes{
    <script type="text/javascript" src="@Url.StaticFile("/assets/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.StaticFile("/assets/js/GMS.js")"></script>

    <script type="text/javascript">
        var table;
        var dstart;
        var dend;
        var range = 0;
        var blist;

        function getRoot(id) {
            var parent = getParent(id);
            var ret;
            if (parent != null && parent != undefined) {
                $.each(blist, function (i, item) {
                    if (parent.ParentId == item.ID) {
                        ret = item.Name;
                    }
                });
            }
            return ret;
        }

        function getParent(id) {
            var ret;
            $.each(blist, function (i, item) {
                if (item.ID == id) {
                    ret = item;
                }
            });
            return ret;
        }

        function InitDatatable() {
            table = $('#example').on('processing.dt', function (e, settings, processing) {
                if (processing == true) {
                    $("input,select,#btnsubmit").attr("disabled", "disabled");
                } else {
                    $("input,select,#btnsubmit").removeAttr("disabled");
                }
                $('#processing').css('display', processing ? 'block' : 'none');
            }).DataTable({
                "scrollX": true,
                "scrollY": '70vh',
                "autoWidth": false,
                "scrollCollapse": true,
                "ordering": false,
                "serverSide": true,//服务端处理分页
                'bPaginate': true,  //是否分页。
                'bFilter': false,  //是否使用内置的过滤功能
                'bLengthChange': true, //是否允许自定义每页显示条数.
                "processing": true, //DataTables载入数据时，是否显示‘进度’提示
                "Paginate": false,  //是否分页。
                "lengthMenu": [[10, 25, 50, 100, 500, 1000, 10000], ["10", "25", "50", "100", "500", "1K", "1W"]],
                "sPaginationType": "full_numbers",
                "ajax": {
                    "url": "GetBusinessByAjax",
                    "type": "POST",
                    "dataSrc": 'Data',
                    "dataType": 'json',
                    //"data": aoData
                    //"success": "fnCallback"
                },
                "oLanguage": { //国际化配置
                    "sProcessing": "正在获取数据，请稍后...",
                    "sLengthMenu": "显示 _MENU_ 条",
                    "sZeroRecords": "没有您要搜索的内容",
                    "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                    "sInfoEmpty": "记录数为0",
                    "sInfoFiltered": "(全部记录数 _MAX_ 条)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": "上一页",
                        "sNext": "下一页",
                        "sLast": "最后一页"
                    }
                },
                "createdRow": function (row, data, dataIndex) {
                    $(row).children('td').attr('style', 'text-align: center;');
                    $(row.lastChild).attr('style', 'text-align: left;');
                    //if (dataIndex % 2 == 0) {
                    //    $(row).attr('style', 'background-color: whitesmoke;')
                    //}
                    //$(":even", row).attr('style', 'background-color: red;')
                }
                , "fnServerParams": function (aoData) {
                    aoData.startdate = $("#start").datepicker("getDate").format("yyyy-MM-dd");
                    aoData.enddate = $("#end").datepicker("getDate").dateAdd("d", 1).format("yyyy-MM-dd");
                    aoData.Category = $("#Category").val();
                    aoData.Channel = $("#Channel").val();
                    aoData.BusinessType = $("#BusinessType").val();
                    aoData.EnumPosition = $("#EnumPosition").val();
                }
                , "columns": [
                            {
                                data: 'Customer.ID'
                                       , "render": function (data, type, full, meta) {
                                           var url = '@Url.Action("Edit", "Customer")';
                                           var html = "";
                                           html += "<a class='btn mini purple thickbox' style='width:39px' title='编辑客户内容' href=";
                                           html += url + "/";
                                           html += data;
                                           html += '?&TB_iframe=true&height=600&width=600><i class="icon-edit"></i>编辑</a>';
                                           return html;
                                       }
                                           , "searchable": false
                                           , "createdCell": function (td, cellData, rowData, row, col) {
                                               //if (row < 1) {
                                               //    $(td).css('color', 'red');
                                               //}
                                           }
                                           , "cellType": "td"
                            }
                            , {
                                data: 'Customer.ID'
                               , "render": function (data, type, full, meta) {
                                   var url = '@Url.Action("Edit", "Customer")';
                                   var html = "<input type='checkbox' name='ids' value='" + data + "' />";
                                   return html;
                               }
                                 , "searchable": false
                                 , "createdCell": function (td, cellData, rowData, row, col) {
                                     //if (row < 1) {
                                     //    $(td).css('color', 'red');
                                     //}
                                 }
                                 , "cellType": "td"
                            }
                           , {
                               data: 'Staff.BranchId'
                               , "defaultContent": "未知"
                               , "width": "20px"
                               , "type": "date"
                               //"visible": false,
                               //"targets": [18],
                               //"orderable": false,
                               //"searchable": false
                               , "render": function (data, type, full, meta) {
                                   return getRoot(data);
                               }
                               , "searchable": false
                               , "createdCell": function (td, cellData, rowData, row, col) {
                                   //if (row < 1) {
                                   //    $(td).css('color', 'red');
                                   //}
                               }
                               , "cellType": "td"
                               , "className": "my_class"
                               , "contentPadding": "mmm"
                           }
                           , {
                               data: 'Staff.BranchId'
                               , "defaultContent": "未知"
                               , "render": function (data, type, full, meta) {
                                   var x = getParent(data);
                                   return x.Name;
                               }
                           }
                           , {
                               data: 'Provienc'
                               , "render": function (data, type, full, meta) {
                                   return '<span class="customername">' + data + '</span>';
                               }
                           }
                           , {
                               data: 'CityName'
                               , "defaultContent": "未知"
                               , "render": function (data, type, full, meta) {
                                   return '<span class="customername">' + data + '</span>';
                               }
                               , "searchable": false
                           }
                           , {
                               data: 'Customer.Name'
                               , "render": function (data, type, row) {
                                   var showdata = data;
                                   var htmls = "";
                                   if (row.Customer.Contacter != null && row.Customer.Contacter != '' && row.Customer.Contacter != undefined) {
                                       showdata = data + ' (' + row.Customer.Contacter + ')';
                                   }
                                   else if (row.Customer.Contacter != null && row.Customer.Tel != '' && row.Customer.Tel != undefined) {
                                       showdata = data + ' (' + row.Customer.Tel + ')';
                                   }
                                   var url = "@Url.Action("AddByCustomerId", "Business")";
                                   htmls += '<a class="blue thickbox customername" title="点击开始录入跟单信息" href=';
                                   htmls += url + "?CustomerId=" + row.Customer.ID + '&TB_iframe=true&height=400&width=580">';
                                   htmls += '<span>' + showdata + '</span></a>';
                                   return htmls;
                               },
                           }
                       , {
                           data: 'Customer.Category'
                           , "defaultContent": "未知"
                           , "render": function (data, type, full, meta) {
                               var ret;
                               switch (data) {
                                   case 0:
                                       ret = "无";
                                       break;
                                   case 1:
                                       ret = "商业";
                                       break;
                                   case 2:
                                       ret = "连锁";
                                       break;
                                   case 3:
                                   default:
                                       ret = "其他";
                                       break;
                               }
                               return ret;
                           }
                           , "searchable": false
                           , "createdCell": function (td, cellData, rowData, row, col) {
                               //if (row < 1) {
                               //    $(td).css('color', 'red');
                               //}
                           }
                       }
                       , { data: 'Customer.Contacter' }
                       , { data: 'Customer.Tel' }
                       , { data: 'Customer.ShowChannel' }
                       , { data: 'Customer.ShowBusinessType' }
                       , { data: 'Customer.ChainCount' }
                       , {
                           data: 'Customer.ChainType'
                           , "type": "string"
                           , "render": function (data, type, full, meta) {
                               var ret;
                               switch (data) {
                                   case 1:
                                       ret = "公司直供";
                                       break;
                                   case 2:
                                       ret = "代理商供";
                                       break;
                                   case 3:
                                       ret = "业务员供";
                                       break;
                                   case 0:
                                   default:
                                       ret = "";
                                       break;
                               }
                               return ret;
                           }
                       }
                       , {
                           data: 'Staff.Name'
                           , "defaultContent": "未知"
                           , "render": function (data, type, full, meta) {
                               //return '<a href="' + data + '">' + data + '</a>';
                               return data;
                           }
                           , "searchable": false
                           , "createdCell": function (td, cellData, rowData, row, col) {
                               //if (row < 1) {
                               //    $(td).css('color', 'red');
                               //}
                           }
                       }
                       , {
                           data: 'Staff.Position'
                           , "defaultContent": "未知"
                           , "type": "int"
                           , "render": function (data, type, full, meta) {
                               var ret;
                               switch (data) {
                                   case 0:
                                       ret = "无";
                                       break;
                                   case 1:
                                       ret = "兼职";
                                       break;
                                   case 2:
                                       ret = "销售经理";
                                       break;
                                   case 3:
                                       ret = "销售经理兼临床";
                                       break;
                                   case 4:
                                       ret = "终端经理";
                                       break;
                                   case 5:
                                       ret = "主任";
                                       break;
                                   case 6:
                                   default:
                                       ret = "其他";
                                       break;
                               }
                               return ret;
                           }
                           , "searchable": false
                           , "createdCell": function (td, cellData, rowData, row, col) {
                               //if (row < 1) {
                               //    $(td).css('color', 'red');
                               //}
                           }
                       }
                       , {
                           data: 'Customer.UnitName'
                           , "defaultContent": "无"
                       }
                       , {
                           data: 'Customer.CooperationOrNot'
                           , "defaultContent": "未知"
                           , "width": "20px"
                           , "type": "Boolean"
                           , "render": function (data, type, full, meta) {
                               if (data == true) {
                                   return "是";
                               } else {
                                   return "否";
                               }
                           }
                           , "searchable": false
                       }
                       , { data: 'Customer.CustomerCooperShow' }
                       , {
                           data: 'Business'
                           , "defaultContent": "未知"
                           , "render": function (data, type, full, meta) {
                               if (data != null && data !== undefined && data.length > 0) {
                                   return data.length + "次拜访";
                               } else {
                                   return "无";
                               }

                           }
                       }
                       , {
                           data: 'Business'
                           , "defaultContent": "未知"
                           , "cellType": "tr"
                           , "render": function (data, type, full, meta) {
                               var retvalue = "<div style='font-size:8px;word-break:keep-all'>";
                               if (data != null && data !== undefined && data.length > 0) {
                                   for (var j = 0; j < data.length; j++) {
                                       var creat = data[j].CreateTime.toDate();
                                       var msg = data[j].Message;
                                       if (creat != null && msg != null) {
                                           //var msg2 = msg.length > 40 ? msg.substring(0, 37) + "..." : msg;
                                           var content = "<li > 时间：" + creat.format("yyyy-MM-dd") + "</li>";
                                           content += "<li> 事件：" + msg + "</li>";
                                           retvalue += "<span style='display:inline-block;word-break:break-all; background-color:lightblue;padding:5px;margin:1px;'>" + content + "</span>";
                                       }

                                   }
                               }
                               retvalue += "</div>";
                               return retvalue;
                               //var retvalue = "<table><tr>";
                               //if (data != null && data !== undefined && data.length > 0) {
                               //    for (var i = 0; i < range; i++) {
                               //        for (var j = 0; j < data.length; j++) {
                               //            var creat = data[j].CreateTime.toDate();
                               //            if (creat - dstart == 86400000 * i) {
                               //                var msg = data[j].Message;
                               //                retvalue += "<td>" + msg + "</td>";
                               //            }
                               //            else {
                               //                retvalue += "<td>" + "" + "</td>";
                               //            }
                               //        }

                               //    }
                               //} else {

                               //    for (var i = 0; i < range; i++) {
                               //        retvalue += '<td></td>'
                               //    }
                               //}
                               //retvalue += "</tr></table>";
                               //return retvalue;
                           }
                       }

                ]
                //和 columnsOption 参数很像，这个参数允许你给指定列设置选项，应用到一个或这多个列。而不像 columnsOption 需要每列都要定义
                , "columnDefs": [
                            {
                                // The `data` parameter refers to the data for the cell (defined by the
                                // `data` option, which defaults to the column being worked with, in
                                // this case `data: 0`.
                                data: "RootBranch.Name",
                                "render": function (data, type, row) {
                                    return data + ' (' + row[6] + ')';
                                },
                                "orderable": false,
                                "targets": 1
                            }
                ]
                , "headerCallback": function (thead, data, start, end, display) {
                    //var headhtml = "<table><tr>";
                    var str = "时间段：" + dstart.format("yyyy年  (MM-dd ") + "至" + dend.format(" M-dd)");
                    //headhtml += "<td class='w60'>" + str + "</td>";
                    //headhtml += "</tr></table>";
                    $("#lasthead", thead).html(str);
                }
                , "footerCallback": function (tfoot, data, start, end, display) {
                    //var str = "时间段：" + dstart.format("yyyy年 (MM-dd ") + "至" + dend.format(" M-dd)");

                    //var headhtml = "<table><tr>";
                    //for (var i = 0; i <= range; i++) {
                    //    headhtml += "<td class='w60'>" + dstart.dateAdd("d", i).format("M-dd") + "</td>";
                    //}
                    //headhtml += "</tr></table>";
                    //$("#lastfoot", tfoot).html(str);
                }
                , "initComplete": function (settings, json) {
                    //tb_init('a.thickbox');
                }
            });
        }

        function refeshTable() {
            dstart = $("#start").datepicker("getDate");
            dend = $("#end").datepicker("getDate");
            $('#example').dataTable().fnClearTable(false);
            $('#example').DataTable().draw();
        }

        function Initselect() {
            var dates = $("#Category, #Channel, #BusinessType, #EnumPosition").change(function () {
                refeshTable();
            });
        }

        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Crm/Business/GetAllBranch",
                dataType: "json",
                success: function (data) {
                    Initselect();
                    blist = data;
                    InitDatatable();
                }
            });
            var dates = $("#start, #end").datepicker({
                dateFormat: "yy-mm-dd",
                defaultDate: "-7d",
                changeMonth: true,
                numberOfMonths: 2,
                onSelect: function (selectedDate) {
                    var option = this.id == "start" ? "minDate" : "maxDate",
                    instance = $(this).data("datepicker"),
                    date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
            var myDate = new Date();
            $("#start").datepicker("setDate", myDate.dateAdd("d", -5).format("yyyy-MM-dd"));
            $("#end").datepicker("setDate", myDate.format("yyyy-MM-dd"));

            dstart = $("#start").datepicker("getDate");
            dend = $("#end").datepicker("getDate");
            range = (dend - dstart) / 86400000;

            $("#btnsubmit").live("click", function () {
                refeshTable();
            });


            //$('#tbbusiness').dataTable().fnDestroy();
        });


        String.prototype.toDate = function () {
            var dateMilliseconds;
            if (isNaN(this)) {
                //使用正则表达式将日期属性中的非数字（\D）删除
                dateMilliseconds = this.replace(/\D/igm, "");
            } else {
                dateMilliseconds = this;
            }
            //实例化一个新的日期格式，使用1970 年 1 月 1 日至今的毫秒数为参数
            return new Date(parseInt(dateMilliseconds));
        };

        $("#Leader").autocomplete({
            source: '@Url.Action("GetLeader", "Ajax")',
            minLength: 1,
            select: function (event, ui) {
            }
        });
    </script>

}
<div class="row-fluid">

    <div class="form-inline" style="word-break:keep-all;overflow:auto">

        <div class="serchtype">
            <span>开始时间：@Html.TextBox("start", "", new { @class = "m-wrap small" })&nbsp;</span>
            <span>结束时间：@Html.TextBox("end", "", new { @class = "m-wrap small" })&nbsp;</span>
            <span><button id="btnsubmit" type="submit" class="btn blue" style="width:80px;height:35px;">搜索<i class="icon-search"></i></button><i style=""></i></span>
            <div class="serchtype" style="float:right">
                <span>
                    <a class="btn blue thickbox" title='添加新客户' href="@Url.Action("Create","Customer")?TB_iframe=true&height=600&width=600"><i class="icon-plus icon-white"></i>新增</a>
                </span>
                <span>
                    <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i>删除</a>
                </span>
            </div>
        </div>
        <div class="serchtype">
            <span>分管领导：@Html.TextBox("Leader", "", new { @class = "m-wrap small" })</span>
            <span>&nbsp;办&nbsp;事&nbsp;处：@Html.TextBox("leader", "", new { @class = "m-wrap small" })</span>

            <span>&nbsp;业&nbsp;务&nbsp;员：@Html.DropDownList("StaffID", ViewData["Staffs"] as SelectList, "--请选择--", new { @class = "select2" })</span>
            <span>业务员类型：@Html.DropDownList("EnumPosition", ViewData["EnumPosition"] as SelectList, "--请选择--", new { @class = "select2" })</span>
        </div>
        <div class="serchtype">
            <span>公司名称：@Html.DropDownList("CustomerId", ViewData["CustomerId"] as SelectList, "--请选择--", new { @class = "select2" })</span>
            <span>商业类型：@Html.DropDownList("Category", ViewData["Category"] as SelectList, "--请选择--", new { @class = "select2" })</span>
            <span>合&nbsp;作&nbsp;渠&nbsp;道：@Html.DropDownList("Channel", ViewData["Channel"] as SelectList, "--请选择--", new { @class = "select2" })</span>
            <span>商业类型：@Html.DropDownList("BusinessType", ViewData["BusinessType"] as SelectList, "--请选择--", new { @class = "select2" })</span>
        </div>
        <img style="display:inline-block;" id="processing" src="~/Assets/img/loading.gif" />

    </div>
</div>
<br />
<table id="example" cellspacing="0">
    <thead>
        <tr id="tbhead">
            <th>
                操作
            </th>
            <th style="min-width:10px;">
                <input type="checkbox" id="checkall" class="group-checkable" />
            </th>
            <th>分管领导</th>
            <th>办事处</th>
            <th>省份</th>
            <th>城市</th>
            <th>客户名</th>
            <th>类型</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>合作渠道</th>
            <th>商业类型</th>

            <th>连锁店数量</th>
            <th>连锁合作方式</th>
            <th>业务员</th>
            <th>业务员类型</th>
            <th>单位名称</th>
            <th>是否合作</th>
            <th>合作种类</th>
            <th>业务统计<br />(此时间段)</th>

            <th id="lasthead">
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>