@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Framework.Contract
@using GMS.Framework.Web.Controls
@using System.Web.Optimization
@using GMS.Crm.Contract
@using GMS.Web
@{

    ViewBag.Title = "业务跟单查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <link rel="stylesheet" type="text/css" href="@Url.StaticFile("/Assets/data-tables/css/dataTables.jqueryui.min.css")" />
    <link rel="stylesheet" href="@Url.StaticFile("/Assets/select2/select2.min.css")">
    <style type="text/css">
        body {
            padding: 0px;
            margin: 0px;
            font-size: 9px !important;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #top {
            display: none;
            height: 0px;
            visibility: collapse;
        }

        .error {
            color: red;
            margin-left: 10px;
        }

        .odd {
            background-color: whitesmoke !important;
        }

        .customername {
            word-break: keep-all;
            word-wrap: inherit;
        }

        .serchtype input {
            width: 68px !important;
            height: 20px !important;
            font-size: 8px !important;
            margin: 3px !important;
            padding: 3px !important;
        }

        .serchtype select {
            width: 80px !important;
            font-size: 1em;
            margin: 3px !important;
            padding: 3px !important;
        }

        option {
            font-size: 13px;
        }

        .serchtype {
            font-size: 10px;
            display: inline-block;
            margin: 0px;
        }

            .serchtype * {
                word-break: keep-all;
                padding: 0px;
            }

        #lasthead, #lastfoot {
            min-width: 260px;
        }

        th {
            word-break: keep-all;
            word-wrap: inherit;
        }

        td table tbody {
            display: initial;
        }

        td table, td table tr {
            width: 100% !important;
            display: inline-block;
        }

        .controls label {
            display: inline;
        }

        .custom-combobox input {
            height: 28px;
            margin: 1px;
        }

        .custom-combobox a {
            height: 30px;
        }

        .bsns {
            font-size: 8px;
            padding: 5px;
            width: 100%;
            display: inline-block;
            word-break: break-all;
        }

            .bsns span {
                background-color: lightblue;
                word-break: break-all;
                width: 100%;
                height: 100%;
                display: inline-block;
            }

        .bigdrop {
            width: 230px !important;
        }
    </style>
}

@*@functions
    {
    }*@
@{
    var permissions = GMS.Web.Admin.Common.AdminUserContext.Current.LoginInfo.BusinessPermissionList.Select(p => p.ToString());
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript" src="@Url.StaticFile("/assets/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.StaticFile("/assets/js/GMS.js")"></script>
    <script type="text/javascript" src="@Url.StaticFile("/Assets/select2/select2.full.min.js")"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.12/pagination/extjs.js"></script>*@

    <script type="text/javascript" src="@Url.StaticFile("/Assets/data-tables/js/oPagination.js")"></script>
    @if (permissions.Contains(GMS.Account.Contract.EnumBusinessPermission.CrmManage_Belongs.ToString()))
    {
        <script type="text/javascript" src="@Url.StaticFile("/Content/Scripts/SelectCustomerId_Manger.js")"></script>
        //Scripts.Render(Url.StaticFile("/Content/Scripts/SelectCustomerId_Manger.js"));
    }
    else
    {
        <script type="text/javascript" src="@Url.StaticFile("/Content/Scripts/SelectCustomerId_Normal.js")"></script>
        //Scripts.Render(Url.StaticFile("/Content/Scripts/SelectCustomerId_Normal.js"));
    }

    <script type="text/javascript">


        var table;
        var dstart;
        var dend;
        var range = 0;
        var blist;

        var branchs;

        $("#hideColum").select2({
            dropdownCssClass: "bigdrop"
        }).on("select2:select", function (e) {
            e.preventDefault();
            var column = table.column(e.params.data.id);
            column.visible(!column.visible());
        }).on("select2:unselect", function (e) {
            e.preventDefault();
            var column = table.column(e.params.data.id);
            column.visible(!column.visible());
        });

        var Coops = @Html.Raw(Json.Encode(ViewData["Coops"]));

        function GetCoopStr(str) {
            var retstr = '';
            if (Coops != null && Coops != undefined && str != null && str != undefined) {
                for (var i = 0; i < str.length; i++) {
                    for (var j = 0; j < Coops.length; j++) {
                        if (Coops[j].ID == str[i]) {
                            retstr += Coops[j].Name + ",";
                        }
                    }
                }
            }
            if (retstr != '') {
                retstr = retstr.substring(0, retstr.length - 1);
            }
            return retstr;
        }
        var p ;
        function GetBranch(source , id){
            if(source.ID == id){
                p = source;
            }
            else if(source.Embranchment != null && source.Embranchment.length > 0){
                $(source.Embranchment).each(function(i,item){
                    if(item.ID == id){
                        p = item;
                        return false;
                    }
                    else{
                        GetBranch(item , id);
                    }
                });
                return;
            }
        }

        function getRoot(id) {
            GetBranch(branchs, id);
            if(p != null && p != undefined){
                GetBranch(branchs, p.ParentId);
            }
            if(p!=null && p !=undefined){
                return p.Name;
            }
        }

        function getParent(id) {
            GetBranch(branchs,  id);
            if(p!=null && p !=undefined){
                return p.Name;
            }
        }

        function InitDatatable() {
            table = $('#example').on('processing.dt', function (e, settings, processing) {
                $('#processing').css('display', processing ? 'block' : 'none');
                if (processing == true) {
                    $("input[type='text'],button,select,#btnsubmit,#createcustomer,#deletecustomer,#modifystaffs").attr("disabled", "disabled");
                } else {
                    $("input,input[type='text'],button,select,#btnsubmit,#createcustomer,#deletecustomer,#modifystaffs").removeAttr("disabled");
                }
            }).DataTable({
                "scrollX": true,
                "scrollY": '70vh',
                "scrollCollapse": true,
                "ordering": true,
                "dom": '<"#top.selects"l><"#tbbody"rt><"bottom"ifp><"clear">',
                "serverSide": true,//服务端处理分页
                'bPaginate': true,  //是否分页。
                'bFilter': false,  //是否使用内置的过滤功能
                'bLengthChange': true, //是否允许自定义每页显示条数.
                "processing": true, //DataTables载入数据时，是否显示‘进度’提示
                "Paginate": false,  //是否分页。
                //"stateSave": true,
                "lengthMenu": [[10, 25, 50, 100, 500, 1000, 10000], ["10", "25", "50", "100", "500", "1K", "1W"]],
                "sPaginationType": "oPagination",
                "ajax": {
                    "url": "GetBusinessByAjax",
                    "type": "POST",
                    "dataSrc": 'Data',
                    "dataType": 'json',
                    //"data": function(f){
                    //    //debugger;
                    //}//,
                    //"success":
                }
                , "oLanguage": { //国际化配置
                    "sProcessing": "正在获取数据，请稍后...",
                    "sLengthMenu": "显示 _MENU_ 条",
                    "sZeroRecords": "没有您要搜索的内容",
                    "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                    "sInfoEmpty": "记录数为0",
                    "sInfoFiltered": "(全部记录数 _MAX_ 条)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": "上一页",
                        "sNext": "下一页",
                        "sLast": "最后一页"
                    }
                },
                "createdRow": function (row, data, dataIndex) {
                    $(row).children('td').attr('style', 'text-align: center;');
                    $(row.lastChild).attr('style', 'text-align: left;');
                    //if (dataIndex % 2 == 0) {
                    //    $(row).attr('style', 'background-color: whitesmoke;')
                    //}
                    //$(":even", row).attr('style', 'background-color: red;')
                }
                , "fnServerParams": function (aoData) {
                    aoData.startdate = $("#start").datepicker("getDate").format("yyyy-MM-dd");
                    aoData.enddate = $("#end").datepicker("getDate").dateAdd("d", 1).format("yyyy-MM-dd");
                    aoData.Category = $("#Category").val();
                    aoData.Channel = $("#Channel").val();
                    aoData.BusinessType = $("#BusinessType").val();
                    aoData.EnumPosition = $("#EnumPosition").val();

                    aoData.StaffID = $("#StaffID").val();
                    aoData.CustomerId = $("#CustomerId").val();
                    aoData.Leaders = $("#Leaders").val();
                    aoData.Suboffice = $("#Suboffice").val();
                    aoData.SelectCity= $("#selectprov").val();

                    aoData.CooperationOrNot = $("#CooperationOrNot").val();
                    aoData.ChainType = $("#ChainType").val();
                    aoData.CooperationKinds = $("#CooperationKinds").val();

                    aoData.HasBusiness = $("#HasBusiness").val();
                }
               , "order": [[6, "desc"]]
               , "columns": [
                            {
                                data: 'Customer.ID'
                                       , title: "编辑"
                                       , "render": function (data, type, full, meta) {
                                           var url = '@Url.Action("Edit", "Customer")';
                                           var html = "";
                                           html += "<a class='btn mini purple thickbox' style='width:39px' title='编辑客户内容' href=";
                                           html += url + "/";
                                           html += data;
                                           html += '?&TB_iframe=true&height=500&width=600><i class="icon-edit"></i>编辑</a>';
                                           return html;
                                       }
                                           , "searchable": false
                                           , "createdCell": function (td, cellData, rowData, row, col) {
                                               //if (row < 1) {
                                               //    $(td).css('color', 'red');
                                               //}
                                           }
                                , "orderable": false
                                           , "cellType": "td"
                            }
                            , {
                                data: 'Customer.ID'
                               , "render": function (data, type, full, meta) {
                                   var url = '@Url.Action("Edit", "Customer")';
                                   var html = "<input type='checkbox' name='ids' value='" + data + "' />";
                                   return html;
                               }
                                 , "searchable": false
                                , "orderable": false
                                 , "createdCell": function (td, cellData, rowData, row, col) {
                                     //if (row < 1) {
                                     //    $(td).css('color', 'red');
                                     //}
                                 }
                                 , "cellType": "td"
                            }
                           , {
                               data: 'Staff.BranchId'
                               , title: "分管领导"
                               , "defaultContent": "未知"
                               , "width": "20px"
                               , "type": "date"
                               //"visible": false,
                               //"targets": [18],
                               //"orderable": false,
                               //"searchable": false
                               , "render": function (data, type, full, meta) {
                                   return getRoot(data);
                               }
                               , "orderable": false
                               , "searchable": false
                               , "createdCell": function (td, cellData, rowData, row, col) {
                                   //if (row < 1) {
                                   //    $(td).css('color', 'red');
                                   //}
                               }
                               , "cellType": "td"
                               , "className": "customername"
                               , "contentPadding": "mmm"
                           }
                           , {
                               data: 'Staff.BranchId'
                               , title: "办事处"
                               , "defaultContent": "未知"
                               , "orderable": false
                               , "className": "customername"
                               , "render": function (data, type, full, meta) {
                                   return getParent(data);
                               }
                           }
                           , {
                               data: 'Provienc'
                               , title: "省份"
                               , "orderable": false
                               , "render": function (data, type, full, meta) {
                                   return '<span class="customername">' + data + '</span>';
                               }
                           }
                           , {
                               data: 'CityName'
                               , title: "地市"
                               //, "orderable": false
                               , "defaultContent": "未知"
                               , "render": function (data, type, full, meta) {
                                   return '<span class="customername">' + data + '</span>';
                               }
                               , "searchable": false
                           }
                           , {
                               data: 'Customer.Name'
                               , title: "公司名称"
                               , "render": function (data, type, row) {
                                   var showdata = data;
                                   var htmls = "";
                                   if (row.Customer.Contacter != null && row.Customer.Contacter != '' && row.Customer.Contacter != undefined) {
                                       showdata = data + ' (' + row.Customer.Contacter + ')';
                                   }
                                   else if (row.Customer.Contacter != null && row.Customer.Tel != '' && row.Customer.Tel != undefined) {
                                       showdata = data + ' (' + row.Customer.Tel + ')';
                                   }
                                   var url = "@Url.Action("AddByCustomerId", "Business")";
                                   htmls += '<a class="blue thickbox customername" title="点击开始录入跟单信息" href=';
                                   htmls += url + "?CustomerId=" + row.Customer.ID + '&TB_iframe=true&height=400&width=580">';
                                   htmls += '<span>' + showdata + '</span></a>';
                                   return htmls;
                               },
                           }
                       , {
                           data: 'Customer.Category'
                           , title: "类别"
                           , sWidth: '100px'
                           , "defaultContent": "未知"
                           , "render": function (data, type, full, meta) {
                               var ret;
                               switch (data) {
                                   case 0:
                                       ret = "无";
                                       break;
                                   case 1:
                                       ret = "商业";
                                       break;
                                   case 2:
                                       ret = "连锁";
                                       break;
                                   case 3:
                                   default:
                                       ret = "其他";
                                       break;
                               }
                               return ret;
                           }
                           , "searchable": false
                           , "class": "customername"
                           , "createdCell": function (td, cellData, rowData, row, col) {
                               //if (row < 1) {
                               //    $(td).css('color', 'red');
                               //}
                           }
                       }
                       , {
                           data: 'Customer.Contacter'
                           , "class": "customername"
                       , title: "联系人"
                       }
                       , {
                           data: 'Customer.Tel'
                       , title: "联系电话"
                       }
                       , {
                           data: 'Customer.ShowChannel'
                       , title: "合作渠道"
                       }
                       , {
                           data: 'Customer.ShowBusinessType'
                       , title: "商业类型"
                       }
                       , {
                           data: 'Customer.ChainCount'
                           , title: "连锁店数量"
                           , "render": function (data, type, full, meta) {
                               return (data != null && data > 0) ? data : "";
                           }
                       }
                       , {
                           data: 'Customer.ChainType'
                           , title: "连锁合作方式"
                           , "type": "string"
                           , "render": function (data, type, full, meta) {
                               var ret;
                               switch (data) {
                                   case 1:
                                       ret = "公司直供";
                                       break;
                                   case 2:
                                       ret = "代理商供";
                                       break;
                                   case 3:
                                       ret = "业务员供";
                                       break;
                                   case 0:
                                   default:
                                       ret = "";
                                       break;
                               }
                               return ret;
                           }
                       }
                       , {
                           data: 'Staff.Name'
                           , title: "业务员"
                           , "defaultContent": "未知"
                           , "className": "customername"
                           , "render": function (data, type, full, meta) {
                               //return '<a href="' + data + '">' + data + '</a>';
                               return data;
                           }
                           , "searchable": false
                           , "createdCell": function (td, cellData, rowData, row, col) {
                               //if (row < 1) {
                               //    $(td).css('color', 'red');
                               //}
                           }
                       }
                       , {
                           data: 'Staff.Position'
                           , title: "业务员类型"
                           , "defaultContent": "未知"
                           , "type": "int"
                           , "render": function (data, type, full, meta) {
                               var ret;
                               switch (data) {
                                   case 0:
                                       ret = "无";
                                       break;
                                   case 1:
                                       ret = "兼职";
                                       break;
                                   case 2:
                                       ret = "销售经理";
                                       break;
                                   case 3:
                                       ret = "市场专员";
                                       break;
                                   case 4:
                                       ret = "终端经理";
                                       break;
                                   case 5:
                                       ret = "主任";
                                       break;
                                   case 6:
                                   default:
                                       ret = "其他";
                                       break;
                               }
                               return ret;
                           }
                           , "searchable": false
                           , "createdCell": function (td, cellData, rowData, row, col) {
                               //if (row < 1) {
                               //    $(td).css('color', 'red');
                               //}
                           }
                       }
                       , {
                           data: 'Customer.UnitName'
                           , title: "备注"
                           , "defaultContent": "无"
                       }
                       , {
                           data: 'Customer.CooperationOrNot'
                           , title: "是否合作"
                           , "width": "20px"
                           , "defaultContent": "null"
                           , "type": "Boolean"
                           , "render": function (data, type, full, meta) {
                               if (data == true) {
                                   return "是";
                               } else if (data == false){
                                   return "否";
                               }
                           }
                           , "searchable": false
                       }
                       , {
                           data: 'Customer.CooperationsIds'
                           , "render": function (data, type, full, meta) {
                               if (data != null && data !== undefined && data.length > 0) {
                                   return GetCoopStr(data);
                               } else {
                                   return "无";
                               }

                           }
                       , title: "合作种类"
                       }
                       , {
                           data: 'Business'
                           , title: "业务统计"
                           , "defaultContent": "未知"
                           , "render": function (data, type, full, meta) {
                               if (data != null && data !== undefined && data.length > 0) {
                                   return data.length + "次拜访";
                               } else {
                                   return "无";
                               }

                           }
                       }
                       , {
                           data: "PerPayment"
                           , title: "预计回款(结束时间当月)"
                           , "cellType": "td"
                           , "render": function (data, type, full, meta) {
                               if (data != null && data !== undefined && data.length > 0) {
                                   return "￥" + formatCurrency(data);
                               } else {
                                   return "无";
                               }

                           }
                       }
                       , {
                           data: 'Business'
                           , "defaultContent": "未知"
                           , "cellType": "td"
                           , "orderable": false
                           , "render": function (data, type, full, meta) {
                               var retvalue = "<div class='bsns'>";
                               if (data != null && data !== undefined && data.length > 0) {
                                   for (var j = 0; j < data.length; j++) {
                                       var creat = data[j].CreateTime.toDate();
                                       var msg = data[j].Message;
                                       if (creat != null && msg != null) {
                                           //var msg2 = msg.length > 40 ? msg.substring(0, 37) + "..." : msg;
                                           var content = "<li> 时间：" + creat.format("yyyy-MM-dd") + "</li>";
                                           content += "<li> 事件：" + msg + "</li>";
                                           retvalue += "<span style='margin-bottom:1px;'>" + content + "</span>";
                                       }

                                   }
                               }
                               retvalue += "</div>";
                               return retvalue;
                               //var retvalue = "<table><tr>";
                               //if (data != null && data !== undefined && data.length > 0) {
                               //    for (var i = 0; i < range; i++) {
                               //        for (var j = 0; j < data.length; j++) {
                               //            var creat = data[j].CreateTime.toDate();
                               //            if (creat - dstart == 86400000 * i) {
                               //                var msg = data[j].Message;
                               //                retvalue += "<td>" + msg + "</td>";
                               //            }
                               //            else {
                               //                retvalue += "<td>" + "" + "</td>";
                               //            }
                               //        }

                               //    }
                               //} else {

                               //    for (var i = 0; i < range; i++) {
                               //        retvalue += '<td></td>'
                               //    }
                               //}
                               //retvalue += "</tr></table>";
                               //return retvalue;
                           }
                       }

               ]
                ,"aoColumnDefs": [
                          { "sWidth": "20%", "aTargets": [20] }
                ]
                //和 columnsOption 参数很像，这个参数允许你给指定列设置选项，应用到一个或这多个列。而不像 columnsOption 需要每列都要定义
                , "columnDefs": [
                            {
                                // The `data` parameter refers to the data for the cell (defined by the
                                // `data` option, which defaults to the column being worked with, in
                                // this case `data: 0`.
                                data: "RootBranch.Name",
                                "render": function (data, type, row) {
                                    return data + ' (' + row[6] + ')';
                                },
                                "orderable": false,
                                "targets": 1
                            }
                ]
                , "headerCallback": function (thead, data, start, end, display) {
                    //var headhtml = "<table><tr>";
                    var str = "时间段：" + dstart.format("yyyy年  (MM-dd ") + "至" + dend.format(" M-dd)");
                    //headhtml += "<td class='w60'>" + str + "</td>";
                    //headhtml += "</tr></table>";
                    $("th:last", thead).html(str);
                    $("th:last", thead).css("width", "200px");
                }
                , "footerCallback": function (tfoot, data, start, end, display) {
                    //var str = "时间段：" + dstart.format("yyyy年 (MM-dd ") + "至" + dend.format(" M-dd)");

                    //var headhtml = "<table><tr>";
                    //for (var i = 0; i <= range; i++) {
                    //    headhtml += "<td class='w60'>" + dstart.dateAdd("d", i).format("M-dd") + "</td>";
                    //}
                    //headhtml += "</tr></table>";
                    //$("#lastfoot", tfoot).html(str);
                }
                , "initComplete": function (settings, json) {
                }
            });
        }

        //转到第几页
        //$('#example').dataTable().fnPageChange(index);
        function refeshTable() {
            tb_remove();
            dstart = $("#start").datepicker("getDate");
            dend = $("#end").datepicker("getDate");
            $('#example').dataTable().fnClearTable(false);
            $('#example').DataTable().columns.adjust().draw();
        }

        function Initselect() {

            //$("#Leader").focus().autocomplete({
            //    source: function (request, response) {
            //        var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
            //        //response($.map(data.citylist, function (item) {
            //        //    return { label: item.city, value: item.city }
            //        //}));

            //        response($.grep(leaders, function (value) {
            //            debugger;
            //            value = value.Name || value.value || value;
            //            if (matcher.test(value) == true)
            //                return { label: item.ID, value: item.Name }
            //            else {
            //                return null;
            //            }
            //        }));

            //    },
            //    minLength: 1,
            //    select: function (event, ui) {
            //    }
            //});

            var dates = $("select").not(".norefresh").change(function () {
                refeshTable();
            });
        }

        //function GetBranch(data){
        //    orderlinessBranch(data,leaders,2);
        //    $(data.Embranchment[0].Embranchment).each(function(i,item){
        //        leaders.push(item);
        //    });
        //    orderlinessBranch(data,suboffice,3);
        //    $(data.Embranchment[0].Embranchment).each(function(i,item){
        //        suboffice.push(item);
        //    });
        //}

        //function orderlinessBranch(source,target,depth){
        //    if(depth > 0){
        //        $(source.Embranchment).each(function(i,item){
        //            var temp = orderlinessBranch(item ,target, depth - 1);
        //            //ret.push(temp);
        //        });
        //    }
        //    else{
        //        $(source.Embranchment).each(function(i,item){
        //            target.push(item);
        //        });
        //    }
        //}

        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Crm/Business/GetAllBranch",
                dataType: "json",
                success: function (data) {
                    branchs = data;
                    Initselect();
                    InitDatatable();
                }
            });
            var dates = $("#start, #end").datepicker({
                dateFormat: "yy-mm-dd",
                defaultDate: "-7d",
                changeMonth: true,
                numberOfMonths: 2,
                onSelect: function (selectedDate) {
                    var option = this.id == "start" ? "minDate" : "maxDate",
                    instance = $(this).data("datepicker"),
                    date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
            var myDate = new Date();
            $("#start").datepicker("setDate", myDate.dateAdd("d", -5).format("yyyy-MM-dd"));
            $("#end").datepicker("setDate", myDate.format("yyyy-MM-dd"));

            dstart = $("#start").datepicker("getDate");
            dend = $("#end").datepicker("getDate");
            range = (dend - dstart) / 86400000;

            $("#btnsubmit").live("click", function () {
                refeshTable();
            });
            $("#tablelength").change(function (e) {
                $("select[name='example_length']").val($("#tablelength").val());
                $("select[name='example_length']").change();
            });
            //$('#tbbusiness').dataTable().fnDestroy();
        });


        String.prototype.toDate = function () {
            var dateMilliseconds;
            if (isNaN(this)) {
                //使用正则表达式将日期属性中的非数字（\D）删除
                dateMilliseconds = this.replace(/\D/igm, "");
            } else {
                dateMilliseconds = this;
            }
            //实例化一个新的日期格式，使用1970 年 1 月 1 日至今的毫秒数为参数
            return new Date(parseInt(dateMilliseconds));
        };

        function postDelete() {
            var message = "你确定要删除勾选的记录吗?";
            if ($("input:checkbox[name='ids'][checked]").length > 0) {
                var datas = new Array();
                $("input:checkbox[name='ids'][checked]").each(function (i, item) {
                    datas.push(item.value);
                })
                if (confirm(message) == true) {
                    $.ajax({
                        url: "@Url.Action("DeleteCustomers")",
                        cache: false,
                        type: "POST",
                        data: { ids: datas },
                        success: function (html) {
                            refeshTable();
                            return true;
                        },
                        error: function (x, y) {
                            alert("删除记录发生错误");
                            return false;
                        }
                    });
                }
            } else {
                alert("必须勾选一些记录。");
                return false;
            }
        }
        function modifyStaffs() {
            var message = "你确定要批量修改所选记录吗?";
            if ($("input:checkbox[name='ids'][checked]").length > 0) {
                var datas = new Array();
                $("input:checkbox[name='ids'][checked]").each(function (i, item) {
                    datas.push(item.value);
                })
                $("#dialog-modifyStaff").dialog({
                    hide: {
                        effect: "explode",
                        duration: 200
                    },
                    buttons: {
                        "确定": function () {
                            var posturl = '@Url.Action("ModifyStaffs", "Business")';
                            $.ajax({
                                cache: false,
                                type: "POST",
                                data: {
                                    customerids: datas,
                                    newstaffid: $("#ModifyStaffID").val()
                                },
                                url: posturl,
                                dataType: "json",
                                error: function (e) {
                                    alert("更新失败");
                                },
                                timeout: function (d) {
                                    alert("更新失败");
                                },
                                success: function (data) {
                                    if (data == true) {
                                        refeshTable();
                                    } else {
                                        alert("更新失败");
                                    }
                                }
                            });
                            $(this).dialog("close");
                        }
                    }
                });


            } else {
                alert("必须勾选一些记录。");
                return false;
            }
        }


        function exportExcel() {
            var parm = new Object();
            parm.startdate = $("#start").datepicker("getDate").format("yyyy-MM-dd");
            parm.enddate = $("#end").datepicker("getDate").dateAdd("d", 1).format("yyyy-MM-dd");
            parm.Category = $("#Category").val();
            parm.Channel = $("#Channel").val();
            parm.BusinessType = $("#BusinessType").val();
            parm.EnumPosition = $("#EnumPosition").val();

            parm.StaffID = $("#StaffID").val();
            parm.CustomerId = $("#CustomerId").val();
            parm.Leaders = $("#Leaders").val();
            parm.Suboffice = $("#Suboffice").val();
            parm.SelectCity= $("#selectprov").val();

            parm.CooperationOrNot = $("#CooperationOrNot").val();
            parm.ChainType = $("#ChainType").val();
            parm.CooperationKinds = $("#CooperationKinds").val();

            parm.HasBusiness = $("#HasBusiness").val();

            $("#dialog-confirm").dialog({
                title: "导出Excel文件",
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                show: {
                    effect: "blind",
                    duration: 300
                },
                hide: {
                    effect: "blind",
                    duration: 200
                },
                buttons: {
                    "确定": function () {
                        $("#dialog-downloading").dialog({
                            hide: {
                                effect: "explode",
                                duration: 200
                            }
                        });

                        $.ajax({
                            cache: false,
                            type: "POST",
                            data: {
                                aoData: parm
                            },
                            url: "/Crm/Business/GentExcel",
                            dataType: "json",
                            error: function (e) {
                                $("#dialog-Fail").dialog({
                                    hide: {
                                        effect: "explode",
                                        duration: 200
                                    },
                                    buttons: {
                                        "关闭": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#alertmessge").text("下载失败:" + e.responseText);
                                $("#dialog-downloading").dialog("close");
                            },
                            timeout: function (e) {
                                $("#dialog-Fail").dialog({
                                    hide: {
                                        effect: "explode",
                                        duration: 200
                                    },
                                    buttons: {
                                        "关闭": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                                $("#alertmessge").text("下载失败:请求超时。");
                                $("#dialog-downloading").dialog("close");
                            },
                            success: function (data) {
                                $("#dialog-downloading").dialog("close");
                                if (data.result == true) {
                                    $("#dialog-Success").dialog({
                                        hide: {
                                            effect: "explode",
                                            duration: 200
                                        },
                                        buttons: {
                                            "关闭": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                    var url = '@Url.Action("Downloadfile","Business")';
                                    fouceWindowOpen(url + '?strFile=' + data.filepath, "_blank");
                                    $("#dialog-Success").dialog("close");
                                } else {
                                    $("#alertmessge").text(data.message);
                                    $("#dialog-Fail").dialog({
                                        hide: {
                                            effect: "explode",
                                            duration: 200
                                        },
                                        buttons: {
                                            "关闭": function () {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                }
                            }
                        });
                        $(this).dialog("close");
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    </script>

}

<div id="dialog-confirm" style="display:none">
    <p style="margin:20px 12px 20px 0;">
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0px 12px 20px 0;">
        </span>这可能会等待几分钟的时间。开始导出并下载？
    </p>
</div>
<div id="dialog-downloading" title="下载中" style="display:none">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        正在生成文件......
    </p>
</div>
<div id="dialog-Success" title="下载结果" style="display:none">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        生成成功，开始下载......
    </p>
</div>
<div id="dialog-modifyStaff" title="重新指配业务员" style="display:none">
    <p>
        <div>
            业务员:&nbsp; @Html.DropDownList("ModifyStaffID", ViewData["Staffs"] as SelectList, "--请选择--", new { @class = "selects norefresh" })
        </div>
    </p>
</div>

<div id="dialog-Fail" title="下载结果" style="display:none">
    <p>
        <b id="alertmessge">生成失败</b>.
    </p>
</div>



<div class="row-fluid" style="font-size:9px; margin-bottom:9px;">
    <div class="form-inline" style="word-break:keep-all;overflow:auto">
        <div class="serchtype">
            <span>开始时间：@Html.TextBox("start", "", new { })&nbsp;</span>
            <span>结束时间：@Html.TextBox("end", "", new { })&nbsp;</span>
            <span><button id="btnsubmit" type="button" class="btn blue" style="width:78px;height:29px;">搜索<i class="icon-search"></i></button><i style=""></i></span>
            <span>
                <a class="btn blue thickbox" id="createcustomer" style="width:78px;height:29px;text-align:center;line-height:30px" title='添加新客户' href="@Url.Action("Create","Customer")?TB_iframe=true&height=500&width=600">
                    <i class="icon-plus icon-white">新增</i>
                </a>
            </span>
            <span>
                <button class="btn red" id="deletecustomer" style="width:78px;height:29px;line-height:30px" onclick="postDelete()">
                    <i class="icon-trash icon-white">删除</i>
                </button>
            </span>
            @if (permissions.Contains(GMS.Account.Contract.EnumBusinessPermission.CrmManage_Belongs.ToString()))
            {
                <span>
                    <button class="btn red" id="modifystaffs" style="width:100px;height:29px;line-height:30px" onclick="modifyStaffs()">
                        <i class="icon-edit icon-white">批量修改</i>
                    </button>
                </span>
            }
            <span>
                <button class="btn" id="exportExcel" style="width:78px;height:29px;line-height:30px" onclick="exportExcel()">
                    <i class="icon-white">导出Excel</i>
                </button>
            </span>

        </div>
        <br />
        <div class="serchtype">
            @if (permissions.Contains(GMS.Account.Contract.EnumBusinessPermission.CrmManage_Belongs.ToString()))
            {
                <span>分管领导：@Html.DropDownList("Leaders", ViewData["Leaders"] as SelectList, "--请选择--", new { @class = "selects" })</span>
                <span>&nbsp;办&nbsp;事&nbsp;处：@Html.DropDownList("Suboffice", ViewData["Suboffice"] as SelectList, "--请选择--", new { @class = "selects" })</span>
                <span>
                    地 市：
                    <select id="selectprov" class="selects">
                        <option>--请选择--</option>
                        @{
                Dictionary<int, Province> dd = ViewData["Provincs"] as Dictionary<int, Province>;
                foreach (var item in dd.Values)
                {
                    <optgroup label="@(item.Name)"></optgroup>
                    var x = item.Citys;
                    if (x != null && x.Count() > 0)
                    {
                        foreach (var z in x)
                        {
                            <option value="@(z.ID)">@(z.Name)</option>
                        }

                    }
                }
                        }
                    </select>
                </span>

                <span>&nbsp;业&nbsp;务&nbsp;员&nbsp;：@Html.DropDownList("StaffID", ViewData["Staffs"] as SelectList, "--请选择--", new { @class = "selects" })</span>
                <span>业务员类型：@Html.DropDownList("EnumPosition", ViewData["EnumPosition"] as SelectList, "--请选择--", new { @class = "selects" })</span>

            }
            @if (permissions.Contains(GMS.Account.Contract.EnumBusinessPermission.CrmManage_Belongs.ToString()))
            {
                <span>
                    公司名称：
                    <select id="CustomerId" class="selects">
                        <option></option>
                    </select>
                </span>
            }
            else
            {
                <span>公司名称：@Html.DropDownList("CustomerId", ViewData["CustomerId"] as SelectList, "--请选择--", new { @class = "selects" })</span>
            }
            <span>&nbsp;类&nbsp;别&nbsp;：@Html.DropDownList("Category", ViewData["Category"] as SelectList, "--请选择--", new { @class = "selects" })</span>
            <span>合作渠道：@Html.DropDownList("Channel", ViewData["Channel"] as SelectList, "--请选择--", new { @class = "selects" })</span>
            <span>商业类型：@Html.DropDownList("BusinessType", ViewData["BusinessType"] as SelectList, "--请选择--", new { @class = "selects" })</span>
            <span>连锁合作方式：@Html.DropDownList("ChainType", ViewData["ChainType"] as SelectList, "--请选择--", new { @class = "selects" })</span>
            <span>
                是否合作：<select id="CooperationOrNot" class="selects">
                    <option>--请选择--</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </span>
            <span>合作种类：@Html.DropDownList("CooperationKinds", ViewData["CooperationKinds"] as SelectList, "--请选择--", new { @class = "selects" })</span>
            <span>
                业务统计：<select id="HasBusiness" class="selects">
                    <option>--全部--</option>
                    <option value="true">存在</option>
                    <option value="false">不存在</option>
                </select>
            </span>
            <span id="perlength">
                显示 <select id="tablelength" style="width:60px! important;">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="10000">10000</option>
                </select> 条
            </span>
            <span>
                隐藏显示:
                <select id="hideColum" class="norefresh" style="min-width:350px !important;display:inline-block" multiple="multiple">
                    <option class="toggle-vis" value="0">编辑</option>
                    <option class="toggle-vis" value="1">选择</option>
                    <option class="toggle-vis" value="2">分管领导</option>
                    <option class="toggle-vis" value="3">办事处</option>
                    <option class="toggle-vis" value="4">省份</option>
                    <option class="toggle-vis" value="5">地市</option>
                    <option class="toggle-vis" value="6">公司名称</option>
                    <option class="toggle-vis" value="7">类别</option>
                    <option class="toggle-vis" value="8">联系人</option>
                    <option class="toggle-vis" value="9">联系电话</option>
                    <option class="toggle-vis" value="10">合作渠道</option>
                    <option class="toggle-vis" value="11">商业类型</option>
                    <option class="toggle-vis" value="12">连锁店数量</option>
                    <option class="toggle-vis" value="13">连锁合作方式</option>
                    <option class="toggle-vis" value="14">业务员</option>
                    <option class="toggle-vis" value="15">业务员类型</option>
                    <option class="toggle-vis" value="16">备注</option>
                    <option class="toggle-vis" value="17">是否合作</option>
                    <option class="toggle-vis" value="18">合作种类</option>
                    <option class="toggle-vis" value="19">业务统计</option>
                    <option class="toggle-vis" value="20">预计回款</option>
                </select>
            </span>
        </div>

        <img style="display:inline-block;" id="processing" src="~/Assets/img/loading.gif" />
        @*<input id="lie" />
            <button onclick="test()">隐藏</button>*@
    </div>

</div>
<table id="example" cellspacing="0">
    <thead>
        <tr id="tbhead">
            <th>
                操作
            </th>
            <th style="min-width:10px;">
                <input type="checkbox" id="checkall" class="group-checkable" />
            </th>
            <th>分管领导</th>
            <th>办事处</th>
            <th>省份</th>
            <th>地市</th>
            <th>公司名称</th>
            <th>类别</th>
            <th>联系人</th>
            <th>联系电话</th>
            <th>合作渠道</th>
            <th>商业类型</th>

            <th>连锁店数量</th>
            <th>连锁合作方式</th>
            <th>业务员</th>
            <th>业务员类型</th>
            <th>备注</th>
            <th>是否合作</th>
            <th>合作种类</th>
            <th>业务统计<br />(此时间段)</th>
            <th>预计回款(结束时间当月)</th>
            <th id="lasthead">
            </th>
        </tr>
    </thead>
</table>

