@using GMS.Framework.Contract
@using GMS.Framework.Web.Controls
@using GMS.Crm.Contract
@using GMS.Web
@model Customer
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <link rel="stylesheet" href="@Url.StaticFile("/Assets/select2/select2.min.css")">
    <style type="text/css">
        .controls label {
            display: inline;
        }

        .error {
            font-size: 7px;
            color: red;
            word-break: keep-all;
        }
    </style>
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript" src="@Url.StaticFile("/Assets/select2/select2.full.min.js")"></script>
    <script>
        $(function () {
            $(".select2").select2();

            $("#ProvinceId").change(function () {
                $("#CityId").load("@Url.Action("GetCity")?ProvinceId=" + this.value);
            });

            $("input[name='Category']").change(function () {
                var val = $(this).val();
                if (val == 2) {
                    $('#ChainCount').removeAttr("disabled");
                    $('#ChainType').removeAttr("disabled");
                } else {
                    $('#ChainCount').attr("disabled", "disabled");
                    $('#ChainCount').val("");

                    $("#ChainType").val("0");
                    $("#ChainType").change();
                    $('#ChainType').attr("disabled", "disabled");
                }
            });

            $("#mainForm").validate({
                rules: {
                    Email: {
                        email: true
                    }
                    , ChainCount: {
                        number: true
                    }
                    //, Name: {
                    //    required: true,
                    //    maxlength: 50
                    //}
                },
                messages: {
                    Email: {
                        email: "请输入正确的Email格式"
                    }
                    , ChainCount: {
                        number: "请输入正确的数字"
                    }
                    //, Name: {
                    //    required: "请输入公司名称",
                    //    maxlength: "名称不能超过50个字符"
                    //}

                }
                //,submitHandler: function (form) {
                //    form.submit();

                //    //getData(start.format("yyyy-MM-dd"), end.format("yyyy-MM-dd"));
                //}
            });
        });

    </script>
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">

            <div class="control-group">
                <label class="control-label"><span class="required">*</span>公司名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>联系人：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Contacter, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Contacter)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">联系人性别：</label>
                <div class="controls">
                    @Html.RadioBoxList("Gender")
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Gender)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">分配员工：</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.StaffID, ViewData["Staffs"] as SelectList, "--请选择--", new { @class = "select2" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Contacter)</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">省/市：</label>
                <div class="controls">
                    @Html.DropDownList("ProvinceId", ViewData["ProvinceIds"] as SelectList, "--请选择--", new { @class = "select2" })
                </div>
                <div class="controls">
                    @Html.DropDownListFor(p => p.CityId, ViewData["CityIds"] as SelectList, "--请选择--", new { @class = "select2" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">客户类型：</label>
                <div class="controls">
                    @Html.RadioBoxList("Category")
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Category)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">单位名称：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.UnitName, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.UnitName)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">连锁合作方式：</label>
                <div class="controls">
                    @if (Model.Category != 2)
                    {
                        @Html.DropDownListFor(m => m.ChainType, ViewData["ChainTypeIds"] as SelectList, "--请选择--", new { @class = "select2", disabled = true })
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.ChainType, ViewData["ChainTypeIds"] as SelectList, "--请选择--", new { @class = "select2" })
                    }
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ChainType)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">连锁店数量：</label>
                <div class="controls">
                    @if (Model.Category != 2)
                    {
                        @Html.TextBoxFor(m => m.ChainCount, new { @class = "m-wrap", disabled = true })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.ChainCount, new { @class = "m-wrap" })
                    }
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ChainCount)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">渠道：</label>
                <div class="controls">
                    @Html.CheckBoxList("Channel")
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">商业类型：</label>
                <div class="controls">
                    @Html.CheckBoxList("BusinessType")
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否合作：</label>
                <div class="controls">
                    @Html.CheckBox("CooperationOrNot")
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">合作品种：</label>
                <div class="controls">
                    @Html.CheckBoxList("CooperationsIds")
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">客户电话：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Tel, new { @class = "m-wrap" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Tel)</span>
                </div>
            </div>
        </div>
    </div>
}

