@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Crm.Contract
@using GMS.Web

@model PagedList<Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
        select {
            margin: 1px;
            width: 150px;
        }

        #tbbusiness th, td {
            word-break: keep-all;
            word-wrap: inherit;
            min-width: 60px;
        }
    </style>
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript" src="@Url.StaticFile("/assets/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.StaticFile("/assets/js/GMS.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbbusiness").DataTable({
                "scrollX": true,
                "scrollY": '80vh',
                "paging": false,
                "ordering": true,
                "scrollCollapse": true,
                "bServerSide": false,//服务端处理分页
                'bPaginate': false,  //是否分页。
                'bFilter': true,  //是否使用内置的过滤功能
                'bLengthChange': false, //是否允许自定义每页显示条数.
                "bProcessing": true, //DataTables载入数据时，是否显示‘进度’提示
                "bFilter": true, //是否启动过滤、搜索功能
                "oLanguage": { //国际化配置
                    "sProcessing": "正在获取数据，请稍后...",
                    "sSearch": "搜索",
                    "sUrl": "",
                    "sInfo": "记录数为 _TOTAL_ 条"
                },
                "columnDefs": [
                               {
                                   "targets": [0],
                                   "orderable": false
                               }
                               , {
                                   "targets": [14],
                                   "orderable": false,
                                   "render": function (data, type, full, meta) {
                                       debugger;
                                       var msg = '<a title=' + data + '>' + (data.length > 15 ? data.substring(0, 15) + '...' : data) + '<a/>';
                                       return msg;
                                   }
                               }
                ],
            });
        });

    </script>

}
<div class="row-fluid">
    <div class="span1">
        <div>
            <a class="btn blue thickbox" title='添加新客户' href="@Url.Action("Create")?TB_iframe=true&height=600&width=600"><i class="icon-plus icon-white"></i>新增</a>
            <br />
            <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i>删除</a>
        </div>
    </div>
    <div class="span11">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search", @class = "form-inline" }))
        {
            <div class="controls">
                业务员：@Html.TextBox("username", Request["username"], new { @class = "m-wrap small" })&nbsp;
                客户名：@Html.TextBox("name", Request["name"], new { @class = "m-wrap small" })&nbsp;
                客户电话：@Html.TextBox("tel", Request["tel"], new { @class = "m-wrap small" })&nbsp;
            </div>
            <div class="p10">
                性别：@Html.DropDownList("Gender", "全部")&nbsp;
                类型：@Html.DropDownList("Category", "全部")&nbsp;
                <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>

            </div>
        }
    </div>
</div>

@using (Html.BeginForm("Delete", "Customer", FormMethod.Post, new { id = "mainForm" }))
{
    <table class="table table-striped table-hover " id="tbbusiness">
        <thead>
            <tr>
                <th style="min-width:10px;">
                    <input type="checkbox" id="checkall" class="group-checkable" />
                </th>
                <th>
                    公司名称
                </th>
                <th>
                    城市
                </th>
                <th>
                    公司类型
                </th>
                <th>
                    联系人
                </th>
                <th>
                    联系电话
                </th>
                <th>
                    合作渠道
                </th>
                <th>
                    商业类型
                </th>
                <th>
                    连锁店数量
                </th>
                <th>
                    连锁合作方式
                </th>
                <th>
                    业务员
                </th>
                <th>
                    业务员类型
                </th>
                <th>
                    单位名称
                </th>
                <th>
                    是否合作
                </th>
                <th>
                    合作品种
                </th>
                <th>
                    添加时间
                </th>
                @*<th>
                        来电数
                    </th>*@
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td style="min-width:10px;">
                        <input type="checkbox" class="checkboxes" name='ids' value='@p.ID' />
                    </td>
                    <td class="blue">
                        <a class="blue thickbox" style="cursor:pointer" title="点击开始录入跟单信息"
                           href="@Url.Action("AddByCustomerId", "Business", new { CustomerId = p.ID })&TB_iframe=true&height=400&width=580"><span>@p.Name</span></a>
                    </td>
                    <td>
                        @if (p.City != null)
                        {
                            @Html.Raw(p.City.Name);
                        }
                    </td>
                    <td>
                        @GMS.Framework.Utility.EnumHelper.GetEnumTitle((EnumCategory)p.Category)
                    </td>
                    <td class="blue">
                        @p.Contacter
                    </td>
                    <td>
                        @p.Tel
                    </td>
                    <td>
                        @p.ShowChannel
                    </td>
                    <td>
                        @p.ShowBusinessType
                    </td>
                    <td>
                        @((p.ChainCount.HasValue == true && (EnumCategory)p.Category == EnumCategory.Married) ? p.ChainCount.Value.ToString() : "...")
                    </td>
                    <td>
                        @((p.ChainType.HasValue == true) ? GMS.Framework.Utility.EnumHelper.GetEnumTitle((EnumChainType)p.ChainType) : "...")

                    </td>
                    <td class="green">
                        @(p.Staff == null ? "没有分配" : p.Staff.Name)
                    </td>
                    <td class="blue">
                        @(p.Staff == null ? "没有分配" : GMS.Framework.Utility.EnumHelper.GetEnumTitle((GMS.OA.Contract.EnumPosition)p.Staff.Position))
                    </td>
                    <td>
                        @p.UnitName
                    </td>
                    <td>
                        @if (p.CooperationOrNot.HasValue && p.CooperationOrNot.Value == true)
                        {
                            @Html.Raw("是");
                        }
                        else
                        {
                            @Html.Raw("否");
                        }
                    </td>
                    <td>
                        @p.CustomerCooperShow
                    </td>
                    <td>
                        @p.CreateTime.ToCnDataString()
                    </td>
                    @*<td class="toolbar">
                        @p.VisitRecords.Count <a href="@Url.Action("Index", "VisitRecord")?Customer.Tel=@p.Tel" target="_blank">查看来电</a>
                                        </td>*@
                    <td>
                        <a class="btn mini purple thickbox" title='编辑客户内容' href="@Url.Action("Edit", new { id = p.ID })?TB_iframe=true&height=600&width=600">
                            <i class="icon-edit"></i>
                            编辑
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(Model, new PagerOptions() { ShowTotalItemCount = true })
</div>

